*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

}
.main-title{
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;


}
.form-style{
    margin-bottom: 2rem;
    width: 100%;
    padding: 10px;

    
}
.card{
    border: 1px solid rgb(58, 58, 58);
    padding: 1rem;
    margin-bottom: 5px;

    color: #fff;
    
}

.card-one{
    background-color: rgb(156, 157, 93);
}
.card-two{
    background-color: rgb(57, 167, 57);
}
.card-three{
    background-color: rgb(137, 86, 174);
}